.ui-accordion .ui-accordion-header {
  padding: .7em .5em .7em .7em;
  margin: 5px 0 0 0;
  box-shadow: inset 0 0 15px 5px #0000000d;
  font-size: 1em;
  cursor: pointer;
  outline: none;
}
.ui-accordion-content {
	padding: 1em;
	border-top: 1px solid #e9e8e8;
	border-bottom: 2px solid #f6f6f6;
	background: #f8f8f8;
}
.accordion {
  margin: 2em 0;
}