$phone: 700px;
$ipad: 800px;

.flex-con {
    display: flex;
    flex-flow: row wrap;
}

.flex-item {
    flex: 1 100%;
    max-width: 100%;
}

@media (max-width: $phone) {
    .mg2 {
        .flex-item {
            flex: 1 calc(50% - .5em);
            max-width: calc(50% - .5em);

            &:nth-child(even) {
                margin-left: 1em;
            }
        }
    }
}

@media (min-width: $phone) {
    .flex-item {
        flex: 1 100%;
    }

    // Grid
    .g2 {
        .flex-item {
            flex: 1 50%;
            max-width: 50%;
        }
    }

    .g3 {
        .flex-item {
            flex: 1 calc(100% / 3);
            max-width: calc(100%/3);
        }
    }

    .g4 {
        .flex-item {
            flex: 1 25%;
            max-width: 25%;
        }
    }

    .g5 {
        .flex-item {
            flex: 1 20%;
            max-width: 20%;
        }
    }

    .g6 {
        .flex-item {
            flex: 1 calc(100% / 6);
            max-width: calc(100% / 6);
        }
    }

    .g7 {
        .flex-item {
            flex: 1 calc(100% / 7);
            max-width: calc(100% / 7);
        }
    }

    .g8 {
        .flex-item {
            flex: 1 12.5%;
            max-width: 12.5%;
        }
    }

    // END Grid
    // Grid gutter 1
    .g2.gut1 {
        .flex-item {
            flex: 1 calc(50% - 2em);
            max-width: calc(50% - 2em);
            margin-left: 1em;
            margin-right: 1em;
        }
    }

    .g3 {
        .flex-item {
            flex: 1 calc(100% / 3 - 1em);
            max-width: calc(100% / 3 - 1em);
            margin-left: .5em;
            margin-right: .5em;
        }
    }

    .g4 {
        .flex-item {
            flex: 1 calc(25% - 1em);
            max-width: calc(25% - 1em);
            margin-left: .5em;
            margin-right: .5em;
        }
    }

    .g5 {
        .flex-item {
            flex: 1 calc(20% - 1em);
            max-width: calc(20% - 1em);
            margin-left: .5em;
            margin-right: .5em;
        }
    }

    .g6 {
        .flex-item {
            flex: 1 calc(100% / 6);
            max-width: calc(100% / 6);
        }
    }

    .g7 {
        .flex-item {
            flex: 1 calc(100% / 7);
            max-width: calc(100% / 7);
        }
    }

    .g8 {
        .flex-item {
            flex: 1 12.5%;
            max-width: 12.5%;
        }
    }

    // END Grid
    .gut1 {
        margin-left: -.5em;
        margin-right: -.5em;
    }
}

@media (min-width: $phone) {
    .grid-con {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
    }
}

@supports (display: grid) {

    @media (min-width: $phone) {
        .grid-con {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1em;
        }
    }

    @media (min-width:$ipad) {
        .grid-con {
            grid-template-columns: repeat(4, 1fr);
        }
    }


    @media (min-width: $phone) {

        .flex-con.g2,
        .flex-con.g3,
        .flex-con.g4,
        .flex-con.g5 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2em;

            .flex-item {
                width: 100%;
                max-width: 100%;
                margin: 0;
            }
        }
    }

    @media (min-width:$ipad) {
        .flex-con.g3 {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 2em;
        }

        .flex-con.g4 {
            grid-gap: 2em;
            grid-template-columns: repeat(4, 1fr);
        }

        .flex-con.g5 {
            grid-gap: 1em;
            grid-template-columns: repeat(5, 1fr);
        }
    }

}

.flex-con.g1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    .flex-item {
        width: 100%;
        max-width: 100%;
        margin: 0 0 2em 0;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
    aside & {
        .flex-item {
            border-bottom: 1px solid #e1e1e1;
            padding-bottom: 1em;
            &:last-of-type {
            margin-bottom: 0;
            border: none;
        }
        }
    }
}