.header-logo-menu {
    background: #243887;
    background-image: linear-gradient(#083a59, #184368);
    color: #fff;
    .site-header-text {
        color: #fff;
    }
}
@media (min-width: 1025px) {
    .logo__menu {
        padding: 0 2em;
        display: flex;
        flex-flow: row wrap;
        .background-header {
            flex: 1 30%;
            max-width: 30%;
        }

        #navbar {
            flex: 1 70%;
            max-width: 70%;
            position: relative;
            align-self: center;
        }

        .l-wrap {
            padding-left: 0;
            padding-right: 0;
            margin: 0;
            max-width: none;
        }

        .l-header--content {
            padding: 0;
            min-height: inherit;
        }

        .important-con {
            display: none;
        }

        .site-logo {
            max-width: none;
            margin: 0;
        }
    }

    .admin-bar .logo__menu .menu-con {
        top: 0;
    }
    .logo-menu-header {
        position: sticky;
        top: 0;
        z-index: 101;
    }
    .admin-bar .logo-menu-header {
        top: 32px;
    }
    .header-logo-menu .all-menu ul ul {
    background: #243887;
    background-image: linear-gradient(#083a59, #184368);
    color: #fff;
    }
    .header-logo-menu .site-header-text {
        margin-left: 1em;
        &.none-logo {
            margin-left: 0;
        }
    }
    .header-logo-menu .background-2 {
        background: none;
    }
}