.widget_nav_menu {
    background: #f2f2f27a;
    padding: 2em;
    box-shadow: 0 0 3px #07325e;
    border-radius: 3px;
    overflow-wrap: break-word;
    margin-bottom: 2em;
    overflow: hidden;
    .widget-title {
        border-bottom: 2px solid #fed404;
    border-top: 2px solid #063463;
    padding: 1em 0 1em 5px;
    font-weight: bold;
    margin: 0 0 1em 0;
    }


    .sub-menu {
        background: #f6f6f6f6;
    }

    .menu,
    .sub-menu {
        margin: 0;
        padding: 0;
    }

    a {
        display: block;
        ;
        border-bottom: 1px solid #e1e1e1;
        padding: .5em 0;
        padding-left: .5em;
        text-decoration: none;
        color: #063769;

        &:hover {
            background: #063769;
            color: #fff;
        }
    }


    li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-transform: uppercase;

        li {
            text-transform: none;

            a {
                padding-left: 1em;

            }

            li {
                a {
                    padding-left: 2em;
                }
            }
        }

        &.current-menu-item {
            > a {
                background: #dddee080;
            }
        }
    }
}