.ydelse .content-img img {
    width: 100%;
}

.type-liste {
    border-bottom: 1px solid;
    padding-bottom: 1em;
}

.knap {
    color: #222;
    background: #fed403;
    padding: .5em 2em;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s all;

    &:hover {
        background: #ddb907;
    }
}

.bgid-1,
.bgid-2,
.bgid-3,
.bgid-4 {
    padding-bottom: 2em;
}

.bgid-1 {}

.bgid-2 {
    background: #dddee0;
    color: #222;

}

.bgid-3 {}

.bgid-4 {
    background: #fed404;
    color: #000;
}

.background-front3 {
    background: #fff;
    color: #000;
}

#signup-content {
    background: #fff;
    overflow: hidden;
}

.wp-signup-container {
    max-width: 1200px;
    background: #fff;
    color: #000;
    padding: 3em;
    margin-top: 3em !important;
    margin-bottom: 3em !important;
    overflow: hidden;

    form {
        max-width: 500px;
    }
}

.wp-activate-container {
    max-width: 1200px;
    background: #fff;
    color: #000;
    padding: 3em;
    margin: 3em auto;
    overflow: hidden;

    a {
        color: #000;
    }
}
.filer {
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: .25em 0;
        list-style-type: none;
        border-bottom: 1px solid #f2f2f2;
    }
}
