.ydelse .content-img img {
    width: 100%;
}

.type-liste {
    border-bottom: 1px solid;
    padding-bottom: 1em;
}

.knap {
    color: #222;
    background: #fed403;
    padding: .5em 2em;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s all;

    &:hover {
        background: #ddb907;
    }
}

.bgid-1,
.bgid-2,
.bgid-3,
.bgid-4 {
    padding-bottom: 2em;
}

.bgid-1 {}

.bgid-2 {
    background: #dddee0;
    color: #222;
    .flex-item {
        border-color: #063769
    }
}

.bgid-3 {}

.bgid-4 {
    background: #fed404;
    color: #000;
    .flex-item {
        border-color: #063769
    }
}

.background-front3 {
    background: #fff;
    color: #000;
}
.background-front6 {
    background: #fed404;
    color: #000;
}
.background-front5 {
    background: #fff;
    color: #000;
}
.background-front4 {
    background: #dddee0;
    color: #000;
}

#signup-content {
    background: #fff;
    overflow: hidden;
}

.wp-signup-container {
    max-width: 1200px;
    background: #fff;
    color: #000;
    padding: 3em;
    margin-top: 3em !important;
    margin-bottom: 3em !important;
    overflow: hidden;

    form {
        max-width: 500px;
    }
}

.wp-activate-container {
    max-width: 1200px;
    background: #fff;
    color: #000;
    padding: 3em;
    margin: 3em auto;
    overflow: hidden;

    a {
        color: #000;
    }
}
.filer {
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: .25em 0;
        list-style-type: none;
        border-bottom: 1px solid #f2f2f2;
    }
}
 .box-shortcode .flex-item {
    background: #f2f2f2;
    padding: 2em;
    color: #000;
    a {
        color: #000;
    }
}
#rss-2 {
    color: #fff;
    a {
        color: #fff
    }
}

/* her er det nye */

.background-front1 .box-shortcode .flex-item {
    background: #fff
}
.box-shortcode .flex-item ul {
    margin: 0;
    padding: 0;
}
.box-shortcode .flex-item li,
.campaign{
    margin: 0;
    padding: .5em 0;
    list-style-type: none;
}
.background-front1 li,
.campaign{
    border-bottom: 1px solid #f2f2f2
}
.campaign {
    color: #063769;
    font-weight: bold
}
.campaign a {
    font-weight: normal;
}
.background-front2 {
    color: #000;
}

.background-front6 {
    text-align: center;
    padding: 3em 1em;
}
.background-front6 h4 {
    margin: 0 0 0.5em 0;
    color: #ffffffab;
    font-size: 2em;
    text-transform: uppercase;
}
.background-front6 h5 {
    font-size: 1em;
    color: #341818;
    font-weight: normal;
    line-height: 1.2;
    margin: .75em 0 0 0;
    background: #ffffff6e;
    padding: 1em;
    border: 1px solid #fff;
    min-height: 5em;
}
.background-front6 img {
    border: 2px solid #fff;
    padding: .5em;
    background: #ffffff85;
    margin-bottom: 0.5em;
}
#rss-2 {
    color: #fff;
}
#rss-2 a {
        color: #fff;
}